@import 'tailwindcss';

@theme {
  --font-sans: 'Manrope', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Custom breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Custom color palette */
  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;
  --color-dark: #101010;
  --color-light-gray: #f1f1f1;
  --color-lighter-gray: #fafafa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-black: #141414;
  --color-primary-gray: #CFCFCF;
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
}
p,
span,
a,
li,
div {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
}

.navlink {
  @apply text-white font-bold uppercase text-[13px] hover:text-primary transition-colors;
}

.hero-section {
  @apply bg-black  bg-cover max-w-full w-full bg-no-repeat relative;
  background-image: url('/assets/home/mobile/image-header.jpg');
}

@media (min-width: 768px) {
  .hero-section {
    background-image: url('/assets/home/tablet/image-header.jpg');
  }
}

@media (min-width: 1024px) {
  .hero-section {
    background-image: url('/assets/home/desktop/image-hero.svg');
  }
}

.zx7-speaker {
  @apply bg-black bg-cover bg-center bg-no-repeat h-[320px] rounded-[8px];
  background-image: url('/assets/home/mobile/image-speaker-zx7.jpg')
 
}

@media (min-width: 768px) {
  .zx7-speaker {
    background-image: url('/assets/home/tablet/image-speaker-zx7.jpg')
  }
}

@media(min-width: 1024px) {
  .zx7-speaker {
    background-image: url('/assets/home/desktop/image-speaker-zx7.svg')
  }
}

.zx9-speaker {
  @apply bg-primary  bg-left  bg-no-repeat relative;
  background-image: url('/assets/home/desktop/pattern-circles.svg');
}

.container-fluid {
  @apply py-8 px-4 mx-auto container sm:py-16 lg:px-6;
}

.section-title {
  @apply text-[2.25rem] sm:text-[3.5rem] font-bold uppercase mb-3 text-white tracking-[2px] leading-10 md:leading-16;
}

.section-description {
  @apply text-[0.938rem] leading-[25px] font-medium text-white/75 mb-8;
}

.shop-now-button {
  @apply bg-white text-primary px-8 py-3 rounded-lg font-semibold hover:bg-light-gray transition-colors;
}

.form-control {
  @apply w-full text-black p-4 border-[1px] border-primary-gray rounded-[8px] focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary;
}


.form-label {
 @apply block text-[12px] font-bold mb-2 text-black 
}
